output {
  elasticsearch {
{% if logstash_elasticsearch_cacert_path %}
    cacert => "{{ logstash_elasticsearch_cacert_path }}"
{% endif %}
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
  }
}
